@page "/createAccount"

@inject NavigationManager NavigationManager

@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@using test.Components



<!DOCTYPE html>

<head>
    <PageTitle>CreateAccount</PageTitle>
</head>


<body>
    <NavBar />

    <div style=" display: flex; justify-content: center; margin: 2vh;">
        <h1>Create Your Account</h1>
    </div>


    <div style=" display: flex; justify-content: center; align-items: center; margin:10vh;">

        <BSCard CardType="CardType.Card" style="width: 60vw; height: 50vh;">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">Step 1/2 - Please tell us a bit about yourself:</BSCard>
                <EditForm Model="@Model" OnValidSubmit="@Next">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group row" style="margin-top: 5%;">
                        <div class="form-group col">
                            <label>First Name</label>
                            <InputText @bind-Value="Model.FirstName" class="form-control" />
                            <ValidationMessage For="@(() => Model.FirstName)" />
                        </div>

                        <div class="form-group col">
                            <label>Last Name</label>
                            <InputText @bind-Value="Model.LastName" class="form-control" />
                            <ValidationMessage For="@(() => Model.LastName)" />
                        </div>

                    </div>

                    <div class="form-group row" style="margin-top: 5%;">
                        <div class="form-group col">
                            <label>Date of Birth</label>
                            <InputDate @bind-Value="Model.DateOfBirth" class="form-control" />
                            <ValidationMessage For="@(() => Model.DateOfBirth)" />
                        </div>
                    </div>

                    <div class="text-center" style="margin-top: 5%;">
                        <button type="submit" class="btn btn-primary mr-1">Next</button>
                    </div>

                </EditForm>

            </BSCard>

        </BSCard>


    </div>

</body>


<style>
    .header {
        font-size: 150%;
    }

    .info-box {
        width: 150px;
        height: 50px;
        border-width: 1px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
    }

    .info-box-two {
        width: 200px;
        height: 50px;
        border-width: 1px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
    }

    .account-btn {
        width: 150px;
        height: 40px;
        margin-top: 20px;
    }

    .login-btn {
        width: 75px;
        height: 30px;
        margin-top: 10px;
    }


    .back-btn {
        width: 75px;
        height: 30px;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@code {

    private ModelOne Model { get; set; } = new ModelOne();

    protected void Next()
    {
        NavigationManager.NavigateTo("/createAccountTwo");
    }


}
