@page "/History"
<NavBar />


<head>
    <PageTitle>My Books On Hold</PageTitle>
    <link rel="stylesheet" href="../wwwroot/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../wwwroot/css/Hold.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
        <div class="header-container">
        <div class="header-text">
            Account History
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr id="tableheader">
                            <th scope="col" @onclick="(() => ToggleArrow())">Book Title<i class="bi @(isAscending ? "bi-sort-up" : "bi-sort-down")"></i></th>
                            <th scope="col" @onclick="(() => ToggleArrow())">Library<i class="bi @(isAscending ? "bi-sort-up" : "bi-sort-down")"></i></th>
                            <th scope="col" @onclick="(() => ToggleArrow())">Date Signed Out<i class="bi @(isAscending ? "bi-sort-up" : "bi-sort-down")"></i></th>
                            <th scope="col" @onclick="(() => ToggleArrow())">Date Return Deadline<i class="bi @(isAscending ? "bi-sort-up" : "bi-sort-down")"></i></th>
                            <th scope="col" @onclick="(() => ToggleArrow())">Status<i class="bi @(isAscending ? "bi-sort-up" : "bi-sort-down")"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <img src="/Images/Book1.png" alt="Book Cover" height="80" style="margin-right: 1rem;" />
                                    <div>
                                        <h4 style="margin-bottom: 0;">Can't Hurt Me</h4>
                                        <p style="font-size: 0.8rem; margin-top: 0;">by <span style="font-size: 0.7rem;">David Goggins</span></p>
                                    </div>
                                </div>
                            </td>
                            <td>Foxtowne Library</td>
                            <td>3/12/2022</td>
                            <td>5/15/2022</td>
                            <td>
                                <p style="font-weight: bold; color: green;">RETURNED</p>
                                <p>3/16/2022</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <img src="/Images/Book2.png" alt="Book Cover" height="80" style="margin-right: 1rem;" />
                                    <div>
                                        <h4 style="margin-bottom: 0;">My Secret Sister</h4>
                                        <p style="font-size: 0.8rem; margin-top: 0;">by <span style="font-size: 0.7rem;">Lauren Westwood</span></p>
                                    </div>
                                </div>
                            </td>
                            <td>Foxtowne Library</td>
                            <td>3/16/2022</td>
                            <td>5/25/2022</td>
                            <td>
                                <p style="font-weight: bold; color: green;">RETURNED</p>
                                <p>5/12/2022</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <img src="/Images/Book5.png" alt="Book Cover" height="80" style="margin-right: 1rem;" />
                                    <div>
                                        <h4 style="margin-bottom: 0;">Empath</h4>
                                        <p style="font-size: 0.8rem; margin-top: 0;">by <span style="font-size: 0.7rem;">Judy Dyer</span></p>
                                    </div>
                                </div>
                            </td>
                            <td>Foxtowne Library</td>
                            <td>3/16/2022</td>
                            <td>5/25/2022</td>
                            <td>
                                <p style="font-weight: bold; color: green;">RETURNED</p>
                                <p>4/12/2022</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <img src="/Images/Book3.png" alt="Book Cover" height="80" style="margin-right: 1rem;" />
                                    <div>
                                        <h4 style="margin-bottom: 0;">The Fifth Juror</h4>
                                        <p style="font-size: 0.8rem; margin-top: 0;">by <span style="font-size: 0.7rem;">Lori Lacefield</span></p>
                                    </div>
                                </div>
                            </td>
                            <td>Foxtowne Library</td>
                            <td>3/02/2022</td>
                            <td>4/16/2022</td>
                            <td>
                                <p style="font-weight: bold; color: green;">RETURNED</p>
                                <p>4/12/2022</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

@code {
    private bool isAscending = true;

    private void ToggleArrow()
    {
        isAscending = !isAscending;
    }
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .header-container {
        text-align: left;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 20px;
    }

    .header-text {
        font-size: 225%;
        font-weight: bold;
        border: 2px solid black;
        border-radius: 10px;
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
    }

    body {
        margin: 0;
        padding: 0;
    }
    #test {
        color: black;
    }

    #tableheader {
        border: 1px solid black;
        border-radius: 10px;
        cursor: pointer;
    }


    /* Center the table */
    .container {
        margin-top: 2rem;
    }

</style>
