@page "/Hold"

<NavBar />

<head>
    <PageTitle>My Books On Hold</PageTitle>
    <link rel="stylesheet" href="../wwwroot/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../wwwroot/css/Hold.css" />
</head>

<body>    
    <div class="container">
        <div class="row">
            <div class="col-lg-11">
                <h1 id="hold-title">On Hold</h1>
                <div>
                    <input class="search" type="text" placeholder="Search...">
                </div>
                <table class="table">
                    <tbody>
                        @foreach (var book in books)
                        {
                            <tr class="hold-item">
                                <td>
                                    <img src="@book.CoverImage" alt="Book Cover" height="120" />
                                </td>
                                <td class="book-details">
                                    <p>Title: @book.Title</p>
                                    <p>Author: @book.Author</p>
                                    <p>Type: @book.Type</p>
                                </td>
                                <td>
                                    <p>Location: @book.Location,</p>
                                    <p>@book.LocationAddress</p>
                                </td>
                                <td>
                                    <p class="hold-status">Status: @book.Status</p>
                                    <p>Holding Until: @book.HoldingUntil</p>
                                </td>
                                <td>
                                    <button class="btn btn-danger" @onclick="(() => RemoveBook(book))">Cancel</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</body>


@code {
    private List<Book> books = new List<Book>
    {
        new Book
        {
            CoverImage = "images/Book9.png",
            Title = "Outlive: The Science and Art of Longetivy",
            Author = "Peter Attia",
            Type = "Paperback",
            Location = "Nose Hill Library",
            LocationAddress = "1530 Northmount Dr NW",
            Status = "Ready to be picked up",
            HoldingUntil = "03/20/2023"
        },
        new Book
        {
            CoverImage = "images/Book2.png",
            Title = "My Secret Sister",
            Author = "Lauren Westwood",
            Type = "Paperback",
            Location = "Nose Hill Library",
            LocationAddress = "1530 Northmount Dr NW",
            Status = "Waitlist Pos 10",
            HoldingUntil = "N/A"
        },
        new Book
        {
            CoverImage = "images/Book3.png",
            Title = "The Fifth Juror",
            Author = "Lori Lacefield",
            Type = "Paperback",
            Location = "Nose Hill Library",
            LocationAddress = "1530 Northmount Dr NW",
            Status = "Waitlist Pos 4",
            HoldingUntil = "N/A"
        },
        new Book
        {
            CoverImage = "images/Book4.png",
            Title = "Mad Honey",
            Author = "Jennifer Finney Boylan",
            Type = "Hardcover",
            Location = "Nose Hill Library",
            LocationAddress = "1530 Northmount Dr NW",
            Status = "Waitlist Pos 4",
            HoldingUntil = "N/A"
        }
    };

    private void RemoveBook(Book book)
    {
        books.Remove(book);
    }

    private class Book
    {
        public string CoverImage { get; set; }
        public string Title { get; set; }
        public string Author { get; set; }
        public string Type { get; set; }
        public string Location { get; set; }
        public string LocationAddress { get; set; }
        public string Status { get; set; }
        public string HoldingUntil { get; set; }
    }
}