@page "/"

<!DOCTYPE html>
@inject NavigationManager NavigationManager
@using test.Shared
<head>
    <PageTitle>Library Interface</PageTitle>
</head>
<NavBar />

<body class="overlay">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @if (Globals.loginCondition)
    {
        <div style="display:flex; flex-direction: row; padding-left: 8px; padding-right: 8px; border: 2px solid black; border-radius: 10px; display: inline-block;">
            <div>
                <h4> Welcome <strong>Jane</strong>!</h4>
                @if (ListOverdue.StringsOverdue.Count == 0)
                {
                    <div></div>
                }
                else
                {
                    <p style="color: red; padding: 0;"><i class="fas fa-exclamation-circle"></i> You have <b>$@ListOverdue.Fees </b> of unpaid fines! Click <a href="/OverdueDefault">here</a> to pay. </p>
                    <p>You have checked out 3 items.Click <a href="/myBooks">here </a> to view</p>
                }
            </div>
        </div>

    }

    else
    {
        <div></div>
    }

    <div style="margin-top: 10px; display: flex; justify-content: center; align-items: center; position: relative">
        <div style="display: flex; align-items: center;">
            <div>
                <input class="search" type="text" placeholder="Search...">
            </div>
            <div>
                <button style="opacity: 75%; height: 34px; border: 1px solid;">Search</button>
            </div>
        </div>
        <div style="right: 0; position: absolute">
            <b><label for="sort-by-select">Sort by:</label></b>
            <select id="sort-by-select">
                <option value="all">All</option>
                <option value="book">Book</option>
                <option value="ebook">ebook</option>
            </select>
        </div>
    </div>

    @foreach (var category in bookDictionary.Keys)
    {
        <div class="Header">
            <div class="Title">
                @category
            </div>
            <div class="Link>">
                <a href="/SeeAll/@category">See All ></a>
            </div>
        </div>
        <ul class="bookList">
            @foreach (var book in bookDictionary[category])
            {
                <li class="bookItem">
                    <img type="button" @onclick="(e) => TogglePopup(book.Author, book.Title, book.Image,book.Type, book.Description, book.Status, book.Pickup)" class="book1" src=@book.Image />
                    <div class="bookTitle" style="color: #007185; font-size: 15px; width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        <a href="/OpenBook">@book.Title</a>
                    </div>

                    <div style="font-size: 12px; width: 150px;">
                        by @book.Author
                    </div>
                    @if (@book.Type == "paper")
                    {
                        <div style="color:black; font-size: 12px;">
                            <i class="fas fa-book"></i> Book
                        </div>
                    }
                    else
                    {
                        <div style="color:black; font-size: 12px;">
                            <i class="fas fa-tablet-alt"></i> eBook
                        </div>
                    }

                    @if (@book.Status == "Available")
                    {
                        <div style="color: green; font-size: 12px;">
                            @book.Status
                        </div>
                    }
                    else
                    {
                        <div style="color: red; font-size: 12px;">
                            @book.Status
                        </div>
                    }

                </li>
            }
        </ul>
    }

</body>

@if (showPopup)
{
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-F50+VwIYt/nhTJPhfzGmh9QvDtJzFJ39QV7L+sIyRJHe+YfDZKuVZljx40e9uVq+3eQ2QGfh1/QWOfuNJwV0Yg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <div>
        <div style="position: fixed; top: 68px; right: 450px; ">
            <button @onclick="Toggleclose" class="toggle" type="button">
                <span class="material-icons sp-icon-close">keyboard_double_arrow_right</span>
            </button>
        </div>

        <div style="position: fixed; top: 68px; right: 0; width: 450px; height: calc(100% - 65px); background-color: #e8f4f8; overflow: auto; opacity: 1; box-shadow: 0 0 10px rgba(0, 0, 0, 0.35); ">
            @if (!string.IsNullOrEmpty(message))
            {
                <div style="position: fixed; top: 68px; right: 0; width: 450px;" class="alert alert-success alert-dismissible fade show" role="alert">
                    @message
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="() => message = null"></button>
                </div>
            }
            <div style="display:flex; flex-direction: row; justify-content:center; margin-top: 20px; margin-left:5px; ">
                <div><img class="book2" src="@popupImage" /></div>
                <div style="margin-left:20px;">
                    <div style="font-size: 23px; font: Playfair Display; padding:0; "><b>@popupTitle</b></div>
                    <div style="font-size: 14px; font: Lato; "> by @popupAuthor</div>

                    @if (@popupType == "paper")
                    {
                        <div style="color:black; font-size: 14px;">
                            <i class="fas fa-book"></i> Book
                        </div>
                    }
                    else
                    {
                        <div style="color:black; font-size: 14px;">
                            <i class="fas fa-tablet-alt"></i> eBook
                        </div>
                    }

                    <label style="margin-top:12px;" for="library"><b>Choose Library:</b></label>
                    <div style="display:flex; flex-direction:row;">

                        @if (@popupType == "paper")
                        {
                            <select name="library" id="library">
                                <option value="Foxtowne">Foxtowne</option>
                                <option value="Cresent River">Cresent River</option>
                                <option value="Turner Hill">Turner Hill</option>
                                <option value="Lofton">Lofton</option>
                            </select>
                        }

                        else
                        {
                            <select name="library" id="library" disabled>
                                <option value="Foxtowne">N/A</option>
                                <option value="Cresent River">Cresent River</option>
                                <option value="Turner Hill">Turner Hill</option>
                                <option value="Lofton">Lofton</option>
                            </select>
                        }

                        @if (popupStatus == "Available")
                        {
                            <div style="color: green; margin-left: 4px; ">
                                @popupStatus
                            </div>
                        }
                        else
                        {
                            <div style="color: red; margin-left: 4px; ">
                                @popupStatus
                            </div>
                        }

                    </div>


                    @if (popupStatus == "Available")
                    {
                        if (ListCart.StringsCart.Contains(popupTitle))
                        {
                            <div>
                                <button @onclick="(e) => RemoveCart(popupTitle)" style="margin-top: 20px; font-size: 16px; " class="bag-button2">
                                    <span> Remove </span>
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                            <div>
                                <button style="margin-top: 20px; font-size: 17px; " class="bag-button">
                                    <span> Checkout </span>
                                    <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                        }

                        else
                        {
                            <div>
                                <button @onclick="(e) => AddCart(popupTitle)" style="margin-top: 20px; font-size: 16px; " class="bag-button">
                                    <span> Add to Bag </span>
                                    <i class="fas fa-shopping-bag"></i>
                                </button>
                            </div>
                            <div>
                                <button style="margin-top: 20px; font-size: 17px; " class="bag-button">
                                    <span> Checkout </span>
                                    <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>

                        }

                    }
                    else
                    {
                        if (ListHold.Strings.Contains(popupTitle))
                        {
                            <div>
                                <button style="margin-top: 20px; font-size: 16px; " class="not-click" disabled>
                                    <span> Add to Bag</span>
                                    <i class="fas fa-shopping-bag"></i>
                                </button>
                            </div>

                            <div>
                                <button @onclick="(e) => RemoveHold(popupTitle)" style="margin-top: 20px; font-size: 16px; " class="bag-button2">
                                    <span>Leave Waitlist</span>
                                </button>
                                <div style="font-size:13px;">@popupPosition</div>

                            </div>
                        }
                        else
                        {
                            <div>
                                <button style="margin-top: 20px; font-size: 16px; " class="not-click" disabled>
                                    <span> Add to Bag</span>
                                    <i class="fas fa-shopping-bag"></i>
                                </button>
                            </div>

                            <div>
                                <button @onclick="(e) => AddHold(popupTitle,popupPosition)" style="margin-top: 20px; font-size: 16px; " class="bag-button">
                                    <span> Place Hold </span>
                                    <i class="fas fa-clock"></i>
                                </button>
                            </div>
                        }

                    }

                </div>
            </div>
            <div style="margin-left:22px; margin-top: 5px;">
                @if (showFullText)
                {
                    @popupDescription
                    <button @onclick="ToggleShowFullText" style="background-color:transparent;border: none; color: blue; text-decoration: underline;">See Less <i class="fas fa-caret-up"></i></button>

                }
                else
                {
                    <div>
                        <p style="padding:0; margin: 0;">@popupDescription.Substring(0, 350)...</p>
                        <button @onclick="ToggleShowFullText" style="background-color:transparent;border: none; color: blue; text-decoration: underline; padding:0; ">See More <i class="fas fa-caret-down"></i></button>
                    </div>
                }
            </div>

        </div>


    </div>

    <style>
        .overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: rgba(128, 128, 128, 0.5);
            filter: brightness(80%);
        }

        .toggle {
            width: 40px;
            height: 40px;
            color: white;
            background-color: #333;
            border: none;
            border-radius: 10px 0 0 10px;
            cursor: pointer;
        }

            .toggle:hover, .bag-button:hover {
                background-color: gray;
            }

        .bag-button2:hover {
            background-color: #e05e5e;
        }

        .bag-button {
            width: 140px;
            height: 44px;
            background-color: #5c5854;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .bag-button2 {
            width: 140px;
            height: 44px;
            background-color: #d42f2f;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .not-click {
            width: 140px;
            height: 44px;
            background-color: #d6d4d2;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
        }
    </style>
}
else
{
    <style>
        overlay {
            position: static;
            width: auto;
            height: auto;
            overflow: auto;
            opacity: 1;
        }
    </style>
}


@code {

    public class Book
    {
        public string Author { get; set; }
        public string Title { get; set; }
        public string Category { get; set; }
        public string Status { get; set; }
        public string Image { get; set; }
        public string Type { get; set; }
        public int num { get; set; }
        public string Description { get; set; }
        public string Location { get; set; }
        public string Pickup { get; set; }
        public string Holding { get; set; }


    }

    private List<Book> books = new List<Book>()
{
            new Book() { Author = "David Goggins", Title = "Can't Hurt Me", Category = "Popular" , Status = "Available" , num = 1 , Image = "images/Book1.png", Type = "paper", Location = "Foxtowne", Pickup = "Waitlist Pos 4", Holding = "N/A", Description = "For David Goggins, childhood was a nightmare -- poverty, prejudice, and physical abuse colored his days and haunted his nights. But through self-discipline, mental toughness, and hard work, Goggins transformed himself from a depressed, overweight young man with no future into a U.S. Armed Forces icon and one of the world's top endurance athletes. The only man in history to complete elite training as a Navy SEAL, Army Ranger, and Air Force Tactical Air Controller, he went on to set records in numerous endurance events, inspiring Outside magazine to name him \"The Fittest (Real) Man in America.\"\n\nIn Can't Hurt Me, he shares his astonishing life story and reveals that most of us tap into only 40% of our capabilities. Goggins calls this The 40% Rule, and his story illuminates a path that anyone can follow to push past pain, demolish fear, and reach their full potential."},
            new Book() { Author = "Lauren Westwood", Title = "My Secret Sister", Category = "Popular" ,Status = "Available", num = 2 , Image = "images/Book2.png", Type = "paper", Location = "Foxtowne", Pickup = "Waitlist Pos 3", Holding = "N/A", Description = "“I can’t imagine not having a sister— not having you.”\n\nWe both know it’s a lie. So many times, I’ve had to imagine it. What will it be like to see her lying there, her body empty, her spirit gone?\n\nI take her hand and squeeze it hard. “Are you scared?” I say.\n\n“Yeah… I am.”\n\nMY SECRET SISTER\n\nTwo women, two secret heartbreaks…\n\nSan Francisco – Claire is living every mother’s worst nightmare. Her daughter, Jess, is suffering from a rare illness and desperately needs a bone marrow transplant. In a race against time, Claire will do anything to find the match that will save her daughter’s life.\n\nWashington D.C. – Marianne has suffered a heartbreaking string of miscarriages and IVF failures. With her perfect life crumbling around her, she will do whatever it takes to become a mother.\n\nTwo DNA tests...\n\nWhen the results of a DNA test show an unexpected relationship between Claire and Marianne, Claire must confront the darkest secrets of her past and make an impossible choice about the future.\n\nOne big lie...\n\nIs Claire’s secret sister the answer to her prayers?\n\nOr will she cost her everything?\n\nA powerful and emotional page-turner about motherhood, family secrets, and the choices a mother faces to keep her children safe. Perfect for fans of Liane Moriarty, Jojo Moyes, and Jodi Picoult." },
            new Book() { Author = "Lori Lacefield", Title = "The Fifth Juror", Category = "Popular",Status =  "Available", num = 3 , Image = "images/Book3.png", Type = "ebook", Location = "Foxtowne",Pickup = "Waitlist Pos 2", Holding = "N/A",  Description = "Former juror Jess Dawson is facing a difficult time in her life, raising an autistic son and navigating a failing marriage, when her past service as a juror on a high-profile death penalty case comes back to haunt her. Mikael Kriskan, a young Russian the jury sentenced to death for killing his adoptive American parents one cold Colorado night, is nearing his execution date when the foreman of their jury and his wife are found dead, killed in the same manner as Kriskan’s parents.\n\nThen, a second juror appears to commit suicide and leaves a disturbing note to his fellow jurors attached to his chest: KJ - do the right thing. Only Jess knows the true meaning of the message but as others begin to suspect the truth, Jess quickly finds herself in the crosshairs of Kriskan’s prosecutor, also her lover, who’s intent on executing Kriskan, and members of the Russian mob, who are hell bent on returning the genius Kriskan to his Russian roots.\n\nThe choice they give former juror Jess Dawson seems easy: Kill Mikael, kill her son. Save Mikael, save her son. But in a case where the post-conviction appeals have run out, the impact the truth will have upon her family is dire, and the lives of her fellow jurors are equally at stake—this choice will be anything but easy.\n\nThe Fifth Juror is the second nail-biting suspense thriller in the Women of Redemption Series, books that feature women who may not be perfect, but perfectly kick-ass when given a second chance.\n\nIf you like strong female heroines, titanic twists, and danger around every corner, you’ll love this edge-of-your-seat read! For fans of John Grisham, L.T. Ryan’s Rachel Hatch, and James Patterson’s fast paced plots."},
            new Book() { Author = "Jennifer Finney Boylan", Title = "Mad Honey", Category = "Popular", Status = "Available", num = 4 , Image = "images/Book4.png", Type = "paper",  Location = "Foxtowne", Pickup = "Waitlist Pos 1", Holding = "N/A", Description = "A soul-stirring novel about what we choose to keep from our past, and what we choose to leave behind.\n\nOlivia McAfee knows what it feels like to start over. Her picture-perfect life—living in Boston, married to a brilliant cardiothoracic surgeon, raising a beautiful son, Asher—was upended when her husband revealed a darker side. She never imagined she would end up back in her sleepy New Hampshire hometown, living in the house she grew up in, and taking over her father's beekeeping business.\n\nLily Campanello is familiar with do-overs, too. When she and her mom relocate to Adams, New Hampshire, for her final year of high school, they both hope it will be a fresh start.\n\nAnd for just a short while, these new beginnings are exactly what Olivia and Lily need. Their paths cross when Asher falls for the new girl in school, and Lily can’t help but fall for him, too. With Ash, she feels happy for the first time. Yet at times, she wonders if she can she trust him completely . . .\n\nThen one day, Olivia receives a phone call: Lily is dead, and Asher is being questioned by the police. Olivia is adamant that her son is innocent. But she would be lying if she didn’t acknowledge the flashes of his father’s temper in him, and as the case against him unfolds, she realizes he’s hidden more than he’s shared with her.\n\nMad Honey is a riveting novel of suspense, an unforgettable love story, and a moving and powerful exploration of the secrets we keep and the risks we take in order to become ourselves."},
            new Book() { Author = "Judy Dyer", Title = "Empath", Category = "Popular" , Status = "Unavailable" , num = 5 , Image = "images/Book5.png", Type = "ebook",  Location = "Foxtowne",Pickup = "Waitlist Pos 6", Holding = "N/A", Description = "Have you ever felt the weight of the world on your shoulders?\n\nDo you live through your every day feeling waves of others’ emotions crashing into you?\n\nYou may or may not have realized – but you carry the great blessing and power of being an Empath.\n\nOften, Empaths who are new to the understanding of their gift, find it difficult to control the sources of overwhelming feelings. The constant reception of other people’s emotions can cause a roller coaster of stress and anxiety. Due to the high sensitivity of feelings of those around them, an Empath can end up caring for the needs of everyone else but their own.\n\nSo where do you start in understanding how to embrace your gift and channel this hypersensitivity into something beautiful?\n\nIn Empath: A Complete Guide for Developing Your Gift and Finding Your Sense of Self, you will find the loving and gentle ways Judy Dyer offers to guide a new Empath through their journey. This book will usher your spirit to embrace the many blessings of being an Empath. It will also open new doors of opportunity for you to live your life abundantly. You will discover strategies and coping skills such as:\n\nHow to embrace your gift fully\nUnderstanding the potentials of your energy and abilities\nCoping with spiritual hypersensitivity\nUtilizing spiritual healing tools\nHealing from negative energies that lead to insomnia, exhaustion, and adrenal fatigue\nProtecting yourself from draining your energy\nNormalizing the day-to-days with your gift"},
            new Book() { Author = "Kate Morton", Title = "Homecoming", Category = "Popular" , Status = "Unavailable" , num = 11 , Image = "images/Book11.png",Type = "paper",  Location = "Foxtowne", Pickup = "Waitlist Pos 2", Holding = "N/A",  Description = "At the end of a scorching hot day, beside a creek in the grounds of a grand country house, a local man makes a terrible discovery. Police are called, and the small town of Tambilla becomes embroiled in one of the most baffling murder investigations in the history of South Australia.\n\nMany years later and thousands of miles away, Jess is a journalist in search of a story. Having lived and worked in London for nearly two decades, she now finds herself unemployed and struggling to make ends meet. A phone call summons her back to Sydney, where her beloved grandmother, Nora, who raised Jess when her mother could not, has suffered a fall and is seriously ill in hospital.\n\nAt Nora’s house, Jess discovers a true crime book chronicling a long-buried police case: the Turner Family Tragedy of 1959. It is only when Jess skims through its pages that she finds a shocking connection between her own family and this notorious event—a murder mystery that has never been satisfactorily resolved.\n\nAn epic story that spans generations, Homecoming asks what we would do for those we love, how we protect the lies we tell, and what it means to come home. Above all, it is an intricate and spellbinding novel from one of the finest writers working today."},
            new Book() { Author = "Kelly Starrett", Title = "Built to Move", Category = "Popular" , Status = "Available" , num = 12 , Image = "images/Book12.png", Type = "paper",  Location = "Foxtowne",Pickup = "Waitlist Pos 1", Holding = "N/A", Description = "After decades spent working with pro-athletes, Olympians, and Navy Seals, mobility pioneers Kelly and Juliet Starrett began thinking about the physical well-being of the rest of us. What makes a durable human? How do we continue to feel great and function well as we age? And how do we counteract the effects of technology-dependence, sedentary living, and other modern ways of life on our body’s natural need for activity?  \n\nThe answers lie in an easy-to-use formula for basic mobility maintenance: 10 tests + 10 physical practices = 10 ways to make your body work better\n\n The book offers: \nEasy mobilization practices to increase range of motion and avoid injury \nIntuitive ways to integrate more movement into your daily life and escape sedentary habits\nNo-fuss guidelines for improving nutrition and sleep \nBasic breathing practices to manage stress and pain\nQuick and simple assessments to gauge progress and what needs improvement\n\nIt’s full of foundational wisdom for everyone from beginners to professional athletes and everyone in between. Built to Move introduces readers to a set of simple principles and practices that are undemanding enough to work into any busy schedule, lead to greater ease of movement, better health, and a happier life doing whatever it is you love to do—and want to continue doing as long as you live. This book is your game plan for the long game."},
            new Book() { Author = "Curtis Sittenfeld ", Title = "Romantic Comedy", Category = "Popular" , Status = "Available" , num = 13 , Image = "images/Book13.png", Type = "ebook",  Location = "Foxtowne", Pickup = "Waitlist Pos 5", Holding = "N/A", Description = "Sally Milz is a sketch writer for \"The Night Owls,\" the late-night live comedy show that airs each Saturday. With a couple of heartbreaks under her belt, she’s long abandoned the search for love, settling instead for the occasional hook-up, career success, and a close relationship with her stepfather to round out a satisfying life.\n\nBut when Sally’s friend and fellow writer Danny Horst begins dating Annabel, a glamorous actor who guest-hosted the show, he joins the not-so-exclusive group of talented but average-looking and even dorky men at the show—and in society at large—who’ve gotten romantically involved with incredibly beautiful and accomplished women. Sally channels her annoyance into a sketch called the \"Danny Horst Rule,\" poking fun at this phenomenon while underscoring how unlikely it is that the reverse would ever happen for a woman.\n\nEnter Noah Brewster, a pop music sensation with a reputation for dating models, who signed on as both host and musical guest for this week’s show. Dazzled by his charms, Sally hits it off with Noah instantly, and as they collaborate on one sketch after another, she begins to wonder whether there might actually be sparks flying. But this isn’t a romantic comedy; it’s real life. And in real life, someone like him would never date someone like her...right?\n\nWith her keen observations and trademark ability to bring complex women to life on the page, Sittenfeld explores the neurosis-inducing and heart-fluttering wonder of love, while slyly dissecting the social rituals of romance and gender relations in the modern age."},
            new Book() { Author = "Paulo Coelho", Title = "The Alchemist", Category = "Popular" , Status = "Unavailable" , num = 14 , Image = "images/Book14.png",Type = "ebook",  Location = "Foxtowne",Pickup = "Waitlist Pos 6", Holding = "N/A",  Description = "A special 25th anniversary edition of the extraordinary international bestseller, including a new Foreword by Paulo Coelho.\n\nCombining magic, mysticism, wisdom and wonder into an inspiring tale of self-discovery, The Alchemist has become a modern classic, selling millions of copies around the world and transforming the lives of countless readers across generations.\n\nPaulo Coelho's masterpiece tells the mystical story of Santiago, an Andalusian shepherd boy who yearns to travel in search of a worldly treasure. His quest will lead him to riches far different—and far more satisfying—than he ever imagined. Santiago's journey teaches us about the essential wisdom of listening to our hearts, of recognizing opportunity and learning to read the omens strewn along life's path, and, most importantly, to follow our dreams."},

            new Book() { Author = "Collen Hoover", Title = "Never Never", Category = "New Releases", Status = "Unavailable" , num = 6  , Image = "images/Book6.png",Type = "ebook",  Location = "Foxtowne",Pickup = "Waitlist Pos 4", Holding = "N/A",  Description = "Charlie Wynwood and Silas Nash have been best friends since they could walk. They've been in love since the age of fourteen. But as of this morning...they are complete strangers. Their first kiss, their first fight, the moment they fell in love...every memory has vanished. Now Charlie and Silas must work together to uncover the truth about what happened to them and why.\n\nBut the more they learn about the couple they used to be...the more they question why they were ever together to begin with. Forgetting is terrifying, but remembering may be worse.\n\nHeart-stopping and utterly captivating, the complete Never Never series, now available in one volume, will leave readers breathless and believing in the power of love."},
            new Book() { Author = "Dav Pilkey", Title = "Dog Man", Category = "New Releases" ,Status = "Available" , num = 7 , Image = "images/Book7.png",Type = "ebook",  Location = "Foxtowne",Pickup = "Waitlist Pos 4", Holding = "N/A",  Description = "Piggy has returned, and his newest plot is his most diabolical yet. WHAT other new villains are on the horizon? WHERE are they all coming from? And WHO will step forward to save the city when scoundrels sabotage our Supa Buddies?\n\nWith themes of friendship and doing good, Dog Man: Twenty Thousand Fleas Under the Sea is packed with action and hilarity. Featuring \"Chomp-O-Rama,\" a brand-new song, a monstrous Mighty Mite -- and so much more than ever before! IT'S HEROIC, IT'S EPIC!\n\nFor more creative, heartfelt adventures, join Flippy and Li'l Petey in the Cat Kid Comic Club series. And don't forget the series that started it all: Captain Underpants! A new edition of The Adventures of Captain Underpants includes a brand new Dog Man comic! Look for Dog Man with Love: The Official Coloring Book, too!"},
            new Book() { Author = "Margaret Atwood", Title = "Old Babies in the Woods: Stories", Category = "New Releases" , Status = "Unavailable" , num = 8 , Image = "images/Book8.png", Type = "paper",  Location = "Foxtowne", Pickup = "Waitlist Pos 3", Holding = "N/A", Description = "A dazzling collection of short stories from the internationally acclaimed, award-winning author of The Handmaid's Tale and The Testaments, stories that look deeply into the heart of family relationships, marriage, loss and memory, and what it means to spend a life together\n\nMargaret Atwood has established herself as one of the most visionary and canonical authors in the world. This collection of fifteen extraordinary stories--some of which have appeared in The New Yorker and The New York Times Magazine--explore the full warp and weft of experience, speaking to our unique times with Atwood's characteristic insight, wit and intellect.\n\nThe two intrepid sisters of the title story grapple with loss and memory on a perfect summer evening; \"Impatient Griselda\" explores alienation and miscommunication with a fresh twist on a folkloric classic; and \"My Evil Mother\" touches on the fantastical, examining a mother-daughter relationship in which the mother purports to be a witch. At the heart of the collection are seven extraordinary stories that follow a married couple across the decades, the moments big and small that make up a long life of uncommon love--and what comes after.\n\nReturning to short fiction for the first time since her 2014 collection Stone Mattress, Atwood showcases both her creativity and her humanity in these remarkable tales which by turns delight, illuminate, and quietly devastate."},
            new Book() { Author = "Peter Attied, MD", Title = "Outlive", Category = "New Releases" , Status = "Available" , num = 9 , Image = "images/Book9.png", Type = "ebook", Location = "Foxtowne", Pickup = "Waitlist Pos 8",  Holding = "N/A", Description = "Wouldn’t you like to live longer? And better? In this operating manual for longevity, Dr. Peter Attia draws on the latest science to deliver innovative nutritional interventions, techniques for optimizing exercise and sleep, and tools for addressing emotional and mental health.\n \nFor all its successes, mainstream medicine has failed to make much progress against the diseases of aging that kill most people: heart disease, cancer, Alzheimer’s disease, and type 2 diabetes. Too often, it intervenes with treatments too late to help, prolonging lifespan at the expense of healthspan, or quality of life. Dr. Attia believes we must replace this outdated framework with a personalized, proactive strategy for longevity, one where we take action now, rather than waiting.\n \nThis is not “biohacking,” it’s science: a well-founded strategic and tactical approach to extending lifespan while also improving our physical, cognitive, and emotional health. Dr. Attia’s aim is less to tell you what to do and more to help you learn how to think about long-term health, in order to create the best plan for you as an individual. In Outlive, readers will discover:\n \n• Why the cholesterol test at your annual physical doesn’t tell you enough about your actual risk of dying from a heart attack.\n• That you may already suffer from an extremely common yet underdiagnosed liver condition that could be a precursor to the chronic diseases of aging.\n• Why exercise is the most potent pro-longevity “drug”—and how to begin training for the “Centenarian Decathlon.”\n• Why you should forget about diets, and focus instead on nutritional biochemistry, using technology and data to personalize your eating pattern.\n• Why striving for physical health and longevity, but ignoring emotional health, could be the ultimate curse of all.\n \nAging and longevity are far more malleable than we think; our fate is not set in stone. With the right roadmap, you can plot a different path for your life, one that lets you outlive your genes to make each decade better than the one before."},
            new Book() { Author = "Tracy West", Title = "Dragon Masters: Cure of the Shadow Dragon", Category = "New Releases" , Status = "Available", num = 10 , Image = "images/Book10.png", Type = "paper", Location = "Foxtowne", Pickup = "Waitlist Pos 18", Holding = "N/A", Description = "This series is part of Scholastic's early chapter book line, Branches, aimed at newly independent readers. With easy-to-read text, high-interest content, fast-paced plots, and illustrations on every page, these books will boost reading confidence and stamina. Branches books help readers grow!\n\nA huge shadow is blanketing the sky, spreading across every kingdom. And wizards all over the world are losing their magic powers! The Dragon Masters soon discover that a Shadow Dragon named Chaya and his Dragon Master, Aruna, are responsible for the sky-shadow. Drake teams up with Jean to figure out how this Shadow Dragon has so much power. Will they stop the sky-shadow, or will the world fall into complete darkness? And is evil magic to blame for all this chaos?\n\nWith engaging black-and-white artwork on every page, kids won't be able to put down this action-packed adventure!"},
            new Book() { Author = "Nora Roberts", Title = "Come Sundown", Category = "New Releases" , Status = "Available", num = 15 , Image = "images/Book15.png",Type = "paper",  Location = "Foxtowne", Pickup = "Waitlist Pos 15", Holding = "N/A",  Description = "The Bodine ranch and resort in western Montana is a family business, an idyllic spot for vacationers. A little over thirty thousand acres and home to four generations, it’s kept running by Bodine Longbow with the help of a large staff, including new hire Callen Skinner. There was another member of the family once: Bodine’s aunt, Alice, who ran off before Bodine was born. She never returned, and the Longbows don’t talk about her much. The younger ones, who never met her, quietly presume she’s dead. But she isn’t. She is not far away, part of a new family, one she never chose—and her mind has been shattered…\n\nWhen a bartender leaves the resort late one night, and Bo and Cal discover her battered body in the snow, it’s the first sign that danger lurks in the mountains that surround them. The police suspect Cal, but Bo finds herself trusting him—and turning to him as another woman is murdered and the Longbows are stunned by Alice’s sudden reappearance. The twisted story she has to tell about the past—and the threat that follows in her wake—will test the bonds of this strong family, and thrust Bodine into a darkness she could never have imagined." },
            new Book() { Author = "Alison James", Title = "The New Couple", Category = "New Releases" , Status = "Unavailable", num = 16 , Image = "images/Book16.png",Type = "paper",  Location = "Foxtowne", Pickup = "Waitlist Pos 5", Holding = "N/A",  Description = "As I step through the cherry-red door of my new home, I know I should feel like the luckiest woman alive. I have a handsome husband, a beautiful daughter and now the house of my dreams. And to everyone else my life looks perfect…\n\nWhen the neighbours stop by to welcome us, I tell them my name is Stephanie Hamlin and, under the watchful gaze of my husband Richard, I introduce him and our curly haired little girl Poppy. I smile as wide as I can and desperately hope I can fit in to this exclusive place with its pretty communal gardens. Because I’ve risked everything to be here.\n\nBehind closed doors I try to relax, to unwind in the huge clawfoot bath and forget about my complicated past. It’s hard being the new couple on the street when you’ve got secrets.\n\nBecause the truth is, my charming husband isn’t really my husband.\n\nAnd I’m not Stephanie Hamlin…\n\nAn absolutely gripping psychological thriller that will keep you guessing until the last page. If you love Behind Closed Doors, My Lovely Wife and The Perfect Couple, you’ll be hooked.\n" },
            new Book() { Author = "Danielle Steel", Title = "Worthy Opponents", Category = "New Releases" , Status = "Available", num = 17 , Image = "images/Book17.png",Type = "paper",  Location = "Foxtowne", Pickup = "Waitlist Pos 3",Holding = "N/A",  Description = "Spencer Brooke always knew she was destined to be CEO of her grandfather’s business—the most respected and luxurious department store in New York City. Brooke’s has been at the center of every happy memory she has, but it hasn’t been an easy journey. Seven years after her father’s death, her life is very different from the days when she walked through the store with her grandfather as a young girl. She may be the owner of Brooke’s, but she’s also now a divorced single mother of twin boys. And with the ever-evolving landscape of the fashion industry comes new challenges for Spencer and the legacy she’s inherited.\n\nMike Weston is known for making enormous profits by transforming small businesses into bigger, more successful ones. With his marriage at a breaking point and his children grown up, investing is where he thrives—where he can build something greater. And Brooke’s feels like the perfect opportunity. Yet the firm’s beautiful and savvy CEO turns down the offer before they even meet.\n\nSpencer has no interest in outside investors meddling in her family business; her grandfather never saw the need for them, and neither does she. She refuses to be tempted by Mike’s offer, despite her big dreams of expanding the store. But when bad luck strikes, suddenly she is backed into a corner." },
            new Book() { Author = "Nicholas Sparks", Title = "Dreamland", Category = "New Releases" , Status = "Available", num = 18 , Image = "images/Book18.png", Type = "ebook",  Location = "Foxtowne",  Pickup = "Waitlist Pos 1", Holding = "N/A", Description = "Colby Mills once felt destined for a musical career, until tragedy grounded his aspirations. Now the head of a small family farm in North Carolina, he spontaneously takes a gig playing at a bar in St. Pete's Beach, Florida, seeking a rare break from his duties at home. \n\nBut when he meets Morgan Lee, his world is turned upside-down, making him wonder if the responsibilities he has shouldered need dictate his life forever. The daughter of affluent Chicago doctors, Morgan has graduated from a prestigious college music program with the ambition to move to Nashville and become a star. Romantically and musically, she and Colby complete each other in a way that neither has ever known.\n\nWhile they are falling headlong in love, Beverly is on a heart-pounding journey of another kind. Fleeing an abusive husband with her six-year-old son, she is trying to piece together a life for them in a small town far off the beaten track. With money running out and danger seemingly around every corner, she makes a desperate decision that will rewrite everything she knows to be true.\n\nIn the course of a single unforgettable week, two young people will navigate the exhilarating heights and heartbreak of first love. Hundreds of miles away, Beverly will put her love for her young son to the test. And fate will draw all three people together in a web of life-altering connections . . . forcing each to wonder whether the dream of a better life can ever survive the weight of the past." },
            new Book() { Author = "Celeste Ng ", Title = "Our Missing Hearts", Category = "Popular" , Status = "Available" , num = 19 , Image = "images/Book19.png", Type = "paper", Location = "Turner Hill", Pickup = "Ready for pickup", Holding = "04/28/23", Description = ""},
    };

    private Dictionary<string, List<Book>> bookDictionary;

    protected override void OnInitialized()
    {
        bookDictionary = books.GroupBy(b => b.Category)
            .ToDictionary(g => g.Key, g => g.ToList());
    }


    async Task AddHold(string title, string position)
    {
        await Task.Delay(1500);
        ListHold.Strings.Add(title);
        HoldMessage(position);
    }
    async Task AddCart(string title)
    {
        await Task.Delay(1500);
        ListCart.StringsCart.Add(title);
        CartMessage(title);

    }
    async Task RemoveCart(string title)
    {
        await Task.Delay(1500);
        ListCart.StringsCart.Remove(title);
        CartMessageRemove(title);

    }
    async Task RemoveHold(string title)
    {
        await Task.Delay(1500);
        ListHold.Strings.Remove(title);
        HoldMessageRemove(title);

    }


    string message;

    private async Task CartMessage(string title)
    {
        message = $"{title} has been added to your Bag!";
        await InvokeAsync(() => StateHasChanged());
        await Task.Delay(6000);
        message = "";
        await InvokeAsync(() => StateHasChanged());

    }
    private async Task CartMessageRemove(string title)
    {
        message = $"{title} has been removed from your Bag!";
        await InvokeAsync(() => StateHasChanged());
        await Task.Delay(6000);
        message = "";
        await InvokeAsync(() => StateHasChanged());

    }
    private async Task HoldMessage(string position)
    {
        message = $"{position}. You'll be notified when item is available!";
        await InvokeAsync(() => StateHasChanged());
        await Task.Delay(6000);
        message = "";
        await InvokeAsync(() => StateHasChanged());

    }
    private async Task HoldMessageRemove(string position)
    {
        message = "You have been removed from waitlist!";
        await InvokeAsync(() => StateHasChanged());
        await Task.Delay(6000);
        message = "";
        await InvokeAsync(() => StateHasChanged());

    }

    protected override async Task OnInitializedAsync()
    {
        await Task.CompletedTask;
    }


}

<style>
    .links-hidden1 {
        align-items: flex-end;
    }

    .bookrow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .Header {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }

    .Link {
        flex: 1;
    }

    .book1 {
        width: 150px;
        height: 250px;
        object-fit: cover;
        display: inline-block;
        margin-right: 20px;
    }

    .book2 {
        width: 170px;
        height: 280px;
        object-fit: cover;
        display: inline-block;
        opacity: 1;
    }

    .Title {
        font-size: 30px;
        font-weight: bold;
    }

    .Title1 {
        font-size: 30px;
        font-weight: bold;
        margin-top: 10px;
    }

    .search {
        width: 224.5px;
        font-size: 20px;
        border: 1px solid;
    }

    .bookList {
        list-style: none;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .bookItem {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
    }
</style>




@code {
    bool showPopup = false;
    string popupAuthor;
    string popupTitle;
    string popupImage;
    string popupDescription;
    string popupType;
    string popupStatus;
    string popupPosition;
    bool showFullText = false;


    void TogglePopup(string author, string title, string image, string type, string description, string status, string position)
    {
        showPopup = !showPopup;
        popupAuthor = author;
        popupTitle = title;
        popupImage = image;
        popupDescription = description;
        popupType = type;
        popupStatus = status;
        popupPosition = position;


    }
    void Toggleclose()
    {
        showPopup = !showPopup;

    }

    void ToggleShowFullText()
    {
        showFullText = !showFullText;
    }

    private async Task Refresh()
    {
        await InvokeAsync(() => StateHasChanged());
    }



        }
