@page "/myBooks"

@inject NavigationManager NavigationManager
@using test.Shared

<PageTitle>myBooks</PageTitle>


<body>
    <NavBar />

<div class="header-container">
  <div class="header-text">
    My Books
  </div>
</div>

    <div class="ebooks">
    <h4>EBooks:</h4>
    <hr />
    <div class="bookrow">
        <div>
            <img class="book1" src="@book1.Image" />
            <div style="
                color: blue;
                width: 150px;
                font-size:15px">
                @book1.Title
            </div>
            <div style="
                width: 150px;
                font-size:15px">
                <p>Due on: @book1.Holding</p>
            </div>
            <div class="payfee">
                <a href="/PaymentMethods">
                    <button class="link2"> Pay Fees </button>
                </a>
            </div>
        </div>
        <div>
            <img class="book1" src="@book2.Image" />
            <div style="
                color: blue;
                width: 150px;
                font-size:15px">
                @book2.Title
            </div>
            <div style="
                width: 150px;
                font-size:15px">
                <p>Due on: @book2.Holding</p>
            </div>
            <div class="extend">
                <form action="/extendPage"> 
                    <button class="link3"> Extend </button>
                </form>
            </div>
        </div>
    </div>
</div>
<p>
    <br /> <br />
</p>

<div class="books">
    <h4>Books</h4>
    <hr />
    <div class="booksrow">
        <div>
            <img class="book1" src="@book3.Image" />
            <div style="
                color: blue;
                width: 150px;
                font-size:15px">
                @book3.Title
            </div>
            <div style="
                width: 150px;
                font-size:15px">
                <p>Due on: @book3.Holding</p>
            </div>
            <div class="payfee">
                <a href="/PaymentMethods">
                    <button class="link2"> Pay Fees </button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

     .header-container {
        text-align: left;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 20px;
    }
      .header-text {
        font-size: 225%;
        font-weight: bold;
        border: 2px solid black;
        border-radius: 10px;
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
    }


    .ebooks {
        display: block
    }

    .bookrow {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .booksrow {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .book1 {
        width: 150px;
        height: 250px;
        object-fit: cover;
        display: inline-block;
        margin-right: 20px;
    }

    .link2 {
        background-color: red;
        color: white;
        border: 2px solid #FFFFFF;
    }

    .link3 {
        background-color: blue;
        color: white;
        border: 2px solid #FFFFFF;
    }
</style>


@code {

    public class Book
    {
        public string Author { get; set; }
        public string Title { get; set; }
        public string Category { get; set; }
        public string Status { get; set; }
        public string Image { get; set; }
        public string Type { get; set; }
        public int num { get; set; }
        public string Description { get; set; }
        public string Location { get; set; }
        public string Pickup { get; set; }
        public string Holding { get; set; }


    }

    private List<Book> books = new List<Book>()
{
            new Book() { Author = "David Goggins", Title = "Can't Hurt Me", Category = "Popular" , Status = "Available" , num = 1 , Image = "images/Book1.png", Type = "paper", Location = "Foxtowne", Pickup = "Waitlist Pos 4", Holding = DateTime.Now.ToString(), Description = "For David Goggins, childhood was a nightmare -- poverty, prejudice, and physical abuse colored his days and haunted his nights. But through self-discipline, mental toughness, and hard work, Goggins transformed himself from a depressed, overweight young man with no future into a U.S. Armed Forces icon and one of the world's top endurance athletes. The only man in history to complete elite training as a Navy SEAL, Army Ranger, and Air Force Tactical Air Controller, he went on to set records in numerous endurance events, inspiring Outside magazine to name him \"The Fittest (Real) Man in America.\"\n\nIn Can't Hurt Me, he shares his astonishing life story and reveals that most of us tap into only 40% of our capabilities. Goggins calls this The 40% Rule, and his story illuminates a path that anyone can follow to push past pain, demolish fear, and reach their full potential."},
            new Book() { Author = "Nicholas Sparks", Title = "Dreamland", Category = "New Releases" , Status = "Available", num = 18 , Image = "images/Book18.png", Type = "ebook",  Location = "Foxtowne",  Pickup = "Waitlist Pos 1", Holding = DateTime.Now.AddDays(30).ToString(), Description = "Colby Mills once felt destined for a musical career, until tragedy grounded his aspirations. Now the head of a small family farm in North Carolina, he spontaneously takes a gig playing at a bar in St. Pete's Beach, Florida, seeking a rare break from his duties at home. \n\nBut when he meets Morgan Lee, his world is turned upside-down, making him wonder if the responsibilities he has shouldered need dictate his life forever. The daughter of affluent Chicago doctors, Morgan has graduated from a prestigious college music program with the ambition to move to Nashville and become a star. Romantically and musically, she and Colby complete each other in a way that neither has ever known.\n\nWhile they are falling headlong in love, Beverly is on a heart-pounding journey of another kind. Fleeing an abusive husband with her six-year-old son, she is trying to piece together a life for them in a small town far off the beaten track. With money running out and danger seemingly around every corner, she makes a desperate decision that will rewrite everything she knows to be true.\n\nIn the course of a single unforgettable week, two young people will navigate the exhilarating heights and heartbreak of first love. Hundreds of miles away, Beverly will put her love for her young son to the test. And fate will draw all three people together in a web of life-altering connections . . . forcing each to wonder whether the dream of a better life can ever survive the weight of the past." },
            new Book() { Author = "Celeste Ng ", Title = "Our Missing Hearts", Category = "Popular" , Status = "Available" , num = 19 , Image = "images/Book19.png", Type = "paper", Location = "Turner Hill", Pickup = "Ready for pickup", Holding = "04/28/23", Description = ""},
    };

    public Book book1 = new Book() { Author = "David Goggins", Title = "Can't Hurt Me", Category = "Popular", Status = "Available", num = 1, Image = "images/Book1.png", Type = "paper", Location = "Foxtowne", Pickup = "Waitlist Pos 4", Holding = new DateTime(2023, 4, 28).ToString("dd MMMM yyyy"), Description = "For David Goggins, childhood was a nightmare -- poverty, prejudice, and physical abuse colored his days and haunted his nights. But through self-discipline, mental toughness, and hard work, Goggins transformed himself from a depressed, overweight young man with no future into a U.S. Armed Forces icon and one of the world's top endurance athletes. The only man in history to complete elite training as a Navy SEAL, Army Ranger, and Air Force Tactical Air Controller, he went on to set records in numerous endurance events, inspiring Outside magazine to name him \"The Fittest (Real) Man in America.\"\n\nIn Can't Hurt Me, he shares his astonishing life story and reveals that most of us tap into only 40% of our capabilities. Goggins calls this The 40% Rule, and his story illuminates a path that anyone can follow to push past pain, demolish fear, and reach their full potential." };
    public Book book2 = new Book() { Author = "Nicholas Sparks", Title = "Dreamland", Category = "New Releases", Status = "Available", num = 18, Image = "images/Book18.png", Type = "ebook", Location = "Foxtowne", Pickup = "Waitlist Pos 1", Holding = new DateTime(2023,5,10).ToString("dd MMMM yyyy"), Description = "Colby Mills once felt destined for a musical career, until tragedy grounded his aspirations. Now the head of a small family farm in North Carolina, he spontaneously takes a gig playing at a bar in St. Pete's Beach, Florida, seeking a rare break from his duties at home. \n\nBut when he meets Morgan Lee, his world is turned upside-down, making him wonder if the responsibilities he has shouldered need dictate his life forever. The daughter of affluent Chicago doctors, Morgan has graduated from a prestigious college music program with the ambition to move to Nashville and become a star. Romantically and musically, she and Colby complete each other in a way that neither has ever known.\n\nWhile they are falling headlong in love, Beverly is on a heart-pounding journey of another kind. Fleeing an abusive husband with her six-year-old son, she is trying to piece together a life for them in a small town far off the beaten track. With money running out and danger seemingly around every corner, she makes a desperate decision that will rewrite everything she knows to be true.\n\nIn the course of a single unforgettable week, two young people will navigate the exhilarating heights and heartbreak of first love. Hundreds of miles away, Beverly will put her love for her young son to the test. And fate will draw all three people together in a web of life-altering connections . . . forcing each to wonder whether the dream of a better life can ever survive the weight of the past." };
    public Book book3 = new Book() { Author = "Celeste Ng ", Title = "Our Missing Hearts", Category = "Popular" , Status = "Available" , num = 19 , Image = "images/Book19.png", Type = "paper", Location = "Turner Hill", Pickup = "Ready for pickup", Holding = new DateTime(2023, 5, 20).ToString("dd MMMM yyyy"), Description = ""};

    private Dictionary<string, List<Book>> bookDictionary;

    protected override void OnInitialized()
    {
        bookDictionary = books.GroupBy(b => b.Category)
            .ToDictionary(g => g.Key, g => g.ToList());
    }

}



