@page "/OverdueDefault"

<NavBar />

@if (fees == 0)
{
    <h1 id="cart-title" style= "text-align: center">Overdue Fees</h1>

    <p style="font-size: 18px;text-align: center">You have no outstanding fees. You can continue browse items by returning <a href="/">Home</a>.</p>
}
else
{

    <h1 id="cart-title" style="text-align: center" >Overdue Fees</h1>

    <div id = "overduenoti" class="card-body">
        
        <p style="font-size: 20px;"><i class="fas fa-exclamation-triangle"></i>Total fees due:<b> <p style="font-size:45px;">$@feeOutput</p></b> </p>
        <button class="btn btn-danger" style="font-size: 21px;" @onclick="(() => payAllTogglePopup())"> Pay All </button>
    </div><div class="overdueContainer">

        @if (showAllPopup)
        {
            @if (selectPayment)
            {
                @if (savedPayment)
                {
                    <div class="paymentPopup">
                        <button @onclick="payAllTogglePopup" class="toggle" type="button" style=" display: block; margin:  1% 1% 20px auto;background-color: transparent;background: #03549a;width: 40px;height: 40px;cursor: pointer;font-size: 25px;border-radius: 100%;"> &times  </button>
                        <div class="row d-flex justify-content-center align-items-center" style="width: 700px; height:600px; top:10%">
                            <div class="col-8 col-md-8 col-lg-8 col-xl-8">
                                <div id="paymentmethodadd" class="card" style="background-color: #222222; border-radius: 1rem; ">
                                    <div class="card-body text-center">
                                        <div class="mb-md-4 mt-md-3">
                                            <h2 class="fw-bold mb-2 text-uppercase" style="color: #ffffff;">Payment Method</h2>
                                            <div class="form-outline mb-4">
                                                <label for="typeCardHolderName" style="color: #ffffff; text-align: left; display: block;">Cardholder Name</label>
                                                <p style="color: #ffffff; text-align: left; display: block;"> John Doe</p>
                                            </div>
                                            <div class="form-outline mb-4">
                                                <label for="typeCreditCardNumber" style="color: #ffffff; text-align: left; display: block;">Credit Card Number</label>
                                                <p style="color: #ffffff; text-align: left; display: block;"> XXXX XXXX XXXX 1234</p>
                                            </div>
                                            <div class="form-group row mb-4">
                                                <div class="col-md-6">
                                                    <label for="typeExpiryDate" style="color: #ffffff; text-align: left; display: block;">Expiry Date</label>
                                                    <p style="color: #ffffff; text-align: left; display: block;"> 09/26</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="typeCVV" style="color: #ffffff; text-align: left; display: block;">CVV</label>
                                                    <input type="text" id="typeCVV" placeholder="CVV" style="max-width: 100px" class="form-control" @bind="cvvValue" />
                                                </div>
                                                <div class="col-md-3">
                                                    <img src="images/cv.png" width="100" height="60" style="margin-left: 0px;" />
                                                </div>
                                            </div>
                                            <div class="form-group row mb-4">
                                                <div class="col-md-6">
                                                    <label for="typePostalCode" style="color: #ffffff; text-align: left; display: block;">Postal Code</label>
                                                    <p style="color: #ffffff; text-align: left; display: block;"> T1A 7B3</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="typeCountry" style="color: #ffffff; text-align: left; display: block;">Country</label>
                                                    <p style="color: #ffffff; text-align: left; display: block;"> Canada</p>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-lg btn-block" style="background-color: #007bff; border-color: #007bff; margin-top: 25px;" @onclick="ChangePaymentMethod">
                                                Use Different Payment
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <table class="listofprice">
                            <tbody style="font-size: 20px;">
                                @foreach (var str in ListOverdue.StringsOverdue)
                                {
                                    foreach (var book in bookDictionary[str])
                                    {
                                        <tr style="color: #ffffff;border: 1px solid white;">
                                            <td style="padding-right: 20px;">
                                                Book: @book.Title
                                            </td>
                                            <td style="padding-right: 20px;">
                                                Days Overdue: @book.DaysDue
                                            </td>
                                            <td>
                                                Cost: $@book.Cost
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <p style="color: #ffffff; margin-top: 10px;font-size: 25px;">Total Cost: $@feeOutput</p>
                        <button class="btn btn-danger" style="position:absolute; left:50%; transform: translateX(-50%); margin-bottom:40px; " @onclick="(() => RemoveAll())"> Finalize Payment </button>
                    </div>

                }else
                {
                    <div class="paymentPopup">
                        <button @onclick="payAllTogglePopup" class="toggle" type="button" style=" display: block; margin:  1% 1% 20px auto;background-color: transparent;background: #03549a;width: 40px;height: 40px;cursor: pointer;font-size: 25px;border-radius: 100%;"> &times  </button>
                        <div class="row d-flex justify-content-center align-items-center" style="width: 700px; height:600px; top:10%">
                            <div class="col-8 col-md-8 col-lg-8 col-xl-8">
                                <div id="paymentmethodadd" class="card" style="background-color: #222222; border-radius: 1rem; ">
                                    <div class="card-body text-center">
                                        <div class="mb-md-4 mt-md-3">
                                            <h2 class="fw-bold mb-2 text-uppercase" style="color: #ffffff;">Saved Payments</h2>
                                            <div class="form-outline mb-4" style="display:flex; flex-direction: row">
                                                <div>
                                                    <label for="typeCardHolderName" style="color: #ffffff; text-align: left; display: block;">Cardholder Name: John Doe</label>
                                                    <label for="typeCreditCardNumber" style="color: #ffffff; text-align: left; display: block;">Credit Card Number: XXXX XXXX XXXX 1234</label>
                                                    <label for="typeExpiryDate" style="color: #ffffff; text-align: left; display: block;">Expiry Date: 09/26   Postal Code: T1A 7B3</label>
                                                </div>
                                                <div>
                                                    <button type="submit" class="btn btn-primary btn-lg btn-block" style="background-color: #007bff; border-color: #007bff; margin-top: 25px;" @onclick="SavedPaymentMethod">
                                                        Use This
                                                    </button>
                                                </div>

                                            </div>

                                            <button type="submit" class="btn btn-primary btn-lg btn-block" style="background-color: #007bff; border-color: #007bff; margin-top: 25px;" @onclick="SeparatePaymentMethod">
                                                Seperate Payment
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <table class="listofprice">
                            <tbody style="font-size: 20px;">
                                @foreach (var str in ListOverdue.StringsOverdue)
                                {
                                    foreach (var book in bookDictionary[str])
                                    {
                                        <tr style="color: #ffffff;border: 1px solid white;">
                                            <td style="padding-right: 20px;">
                                                Book: @book.Title
                                            </td>
                                            <td style="padding-right: 20px;">
                                                Days Overdue: @book.DaysDue
                                            </td>
                                            <td>
                                                Cost: $@book.Cost
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <p style="color: #ffffff; margin-top: 10px;font-size: 25px;">Total Cost: $@feeOutput</p>
                        <button class="btn btn-danger" style="position:absolute; left:50%; transform: translateX(-50%); margin-bottom:40px; " @onclick="(() => RemoveAll())"> Finalize Payment </button>
                    </div>


                   
                }
                
            }
            else
            {
                <div class = "paymentPopup">
                    <button @onclick="payAllTogglePopup" class="toggle" type="button" style=" display: block; margin:  1% 1% 20px auto;background-color: transparent;background: #03549a;width: 40px;height: 40px;cursor: pointer;font-size: 25px;border-radius: 100%;"> &times  </button>
                    <div class="row d-flex justify-content-center align-items-center" style="width: 700px; height:600px;">
                                <div class="col-8 col-md-8 col-lg-8 col-xl-8">
                                    <div id = "paymentmethodadd" class="card" style="background-color: #222222; border-radius: 1rem; ">
                                        <div class="card-body text-center">
                                            <div class="mb-md-4 mt-md-3">
                                                <h2 class="fw-bold mb-2 text-uppercase" style="color: #ffffff;">Payment Method</h2>
                                                <div class="form-outline mb-4">
                                                    <label for="typeCardHolderName" style="color: #ffffff; text-align: left; display: block;">Cardholder Name</label>
                                                    <input type="text" id="typeCardName" class="form-control" placeholder="Enter name as written on the card" @bind="nameValue" />
                                                </div>
                                                <div class="form-outline mb-4">
                                                    <label for="typeCreditCardNumber" style="color: #ffffff; text-align: left; display: block;">Credit Card Number</label>
                                                    <input type="text" id="typeCreditCardNumber" class="form-control" placeholder="1234 1234 1234 1234" @bind="creditCardNumberValue" />
                                                </div>
                                                <div class="form-group row mb-4">
                                                    <div class="col-md-6">
                                                        <label for="typeExpiryDate" style="color: #ffffff; text-align: left; display: block;">Expiry Date</label>
                                                        <input type="text" id="typeExpiryDate" placeholder="MM/YY" style="max-width: 220px;" class="form-control" @bind="expiryDateValue" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label for="typeCVV" style="color: #ffffff; text-align: left; display: block;">CVV</label>
                                                        <input type="text" id="typeCVV" placeholder="CVV" style="max-width: 100px" class="form-control" @bind="cvvValue" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img src="images/cv.png" width="100" height="60" style="margin-left: 0px;" />
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-4">
                                                    <div class="col-md-6">
                                                        <label for="typePostalCode" style="color: #ffffff; text-align: left; display: block;">Postal Code</label>
                                                        <input type="text" id="typePostalCode" placeholder="000 000" style="max-width: 220px;" class="form-control" @bind="postalCodeValue" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="typeCountry" style="color: #ffffff; text-align: left; display: block;">Country</label>
                                                        <select id="typeCountry" style="max-width: 250px;" class="form-select" @bind="countryValue">
                                                            <option value="">Select Country</option>
                                                            <option value="USA">United States of America</option>
                                                            <option value="Canada">Canada</option>
                                                            <option value="Mexico">Mexico</option>
                                                            <option value="UK">United Kingdom</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div>
                                                        <button type="submit" class="btn btn-primary btn-lg btn-block" style="background-color: #007bff; border-color: #007bff; margin-top: 25px;" @onclick="ChangePaymentMethod">
                                                            Use Different Payment
                                                        </button>
                                                    </div>
                                            <div>
                                                <input type="checkbox" id="myCheckbox" name="myCheckbox">
                                                <label for="myCheckbox" style="color: #ffffff;">Add to Saved Payments</label>
                                            </div>
                                            
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <table class="listofprice">
                        <tbody style="font-size: 20px;">
                            @foreach (var str in ListOverdue.StringsOverdue)
                            {
                                foreach (var book in bookDictionary[str])
                                {
                                    <tr style="color: #ffffff;border: 1px solid white;">
                                        <td style="padding-right: 20px;">
                                            Book: @book.Title
                                        </td>
                                        <td style ="padding-right: 20px;">
                                            Days Overdue: @book.DaysDue
                                        </td>
                                        <td>
                                            Cost: $@book.Cost
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <p style="color: #ffffff; margin-top: 10px;font-size: 25px;">Total Cost: $@feeOutput</p>
                    <button class="btn btn-danger" style=" position:absolute; left:50%; transform: translateX(-50%); margin-bottom:40px;" @onclick="(() => RemoveAll())"> Finalize Payment </button>
                </div>
            }

        }
    </div>
}


<div class="container">
    <div class="row">
        <div class="col-lg-11">
            <table class="table">
                <tbody>

                    @foreach (var str in ListOverdue.StringsOverdue)
                    {
                        @foreach (var book in bookDictionary[str])
                        {

                            <tr class="hold-item">
                                <td>
                                    <img src="@book.Image" alt="Book Cover" height="120" />
                                </td>
                                <td class="book-details">
                                    <b><p style="font-size:larger" >@book.Title</p></b>
                                    <p>by @book.Author</p>
                                    @if (@book.Type == "paper")
                                    {
                                        <div style="color:black;">
                                            <i class="fas fa-book"></i> Book
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="color:black; ">
                                            <i class="fas fa-tablet-alt"></i> eBook
                                        </div>
                                    }
                                </td>
                                <td>
                                    <p><b>Due date:</b> @book.DueDate,</p>
                                    <p><i class="fas fa-exclamation-circle"></i> <b>@book.DaysDue overdue</b></p>
                                </td>
                                <td>
                                    <p></p>
                                    <p><b>Cost:</b> $@book.Cost</p>
                                </td>
                                <td>
                                    <button class="btn btn-danger" @onclick="(() => TogglePopup(book.Author, book.Title, book.Cost, book.Type, book.DaysDue, book.Status, book))"> Pay </button>
                                    @if (showPopup)
                                    {
                                            @if (selectPayment)
                                            {
                                                @if (savedPayment)
                                                {
                                                    <div class="paymentPopup">
                                                        <button @onclick="ClosePopup" class="toggle" type="button" style=" display: block; margin:  1% 1% 20px auto;background-color: transparent;background: #03549a;width: 40px;height: 40px;cursor: pointer;font-size: 25px;border-radius: 100%;"> &times  </button>
                                                        <div class="row d-flex justify-content-center align-items-center" style="width: 700px; height:600px; top:10%">
                                                            <div class="col-8 col-md-8 col-lg-8 col-xl-8">
                                                                <div id="paymentmethodadd" class="card" style="background-color: #222222; border-radius: 1rem; ">
                                                                    <div class="card-body text-center">
                                                                        <div class="mb-md-4 mt-md-3">
                                                                            <h2 class="fw-bold mb-2 text-uppercase" style="color: #ffffff;">Payment Method</h2>
                                                                            <div class="form-outline mb-4">
                                                                                <label for="typeCardHolderName" style="color: #ffffff; text-align: left; display: block;">Cardholder Name</label>
                                                                                <p style="color: #ffffff; text-align: left; display: block;"> John Doe</p>
                                                                            </div>
                                                                            <div class="form-outline mb-4">
                                                                                <label for="typeCreditCardNumber" style="color: #ffffff; text-align: left; display: block;">Credit Card Number</label>
                                                                                <p style="color: #ffffff; text-align: left; display: block;"> XXXX XXXX XXXX 1234</p>
                                                                            </div>
                                                                            <div class="form-group row mb-4">
                                                                                <div class="col-md-6">
                                                                                    <label for="typeExpiryDate" style="color: #ffffff; text-align: left; display: block;">Expiry Date</label>
                                                                                    <p style="color: #ffffff; text-align: left; display: block;"> 09/26</p>
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <label for="typeCVV" style="color: #ffffff; text-align: left; display: block;">CVV</label>
                                                                                    <input type="text" id="typeCVV" placeholder="CVV" style="max-width: 100px" class="form-control" @bind="cvvValue" />
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <img src="images/cv.png" width="100" height="60" style="margin-left: 0px;" />
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group row mb-4">
                                                                                <div class="col-md-6">
                                                                                    <label for="typePostalCode" style="color: #ffffff; text-align: left; display: block;">Postal Code</label>
                                                                                    <p style="color: #ffffff; text-align: left; display: block;"> T1A 7B3</p>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <label for="typeCountry" style="color: #ffffff; text-align: left; display: block;">Country</label>
                                                                                    <p style="color: #ffffff; text-align: left; display: block;"> Canada</p>
                                                                                </div>
                                                                            </div>
                                                                            <button type="submit" class="btn btn-primary btn-lg btn-block" style="background-color: #007bff; border-color: #007bff; margin-top: 25px;" @onclick="ChangePaymentMethod">
                                                                                Use Different Payment
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>


                                                        <table class="listofprice">
                                                            <tbody style="font-size: 20px;">
                                             
                                                                        <tr style="color: #ffffff;border: 1px solid white;">
                                                                            <td style="padding-right: 20px;">
                                                                                Book: @popupTitle
                                                                            </td>
                                                                            <td style="padding-right: 20px;">
                                                                                Days Overdue: @popupDueDays
                                                                            </td>
                                                                            <td>
                                                                                Cost: $@popupCost
                                                                            </td>
                                                                        </tr>
                                                          
                                                            </tbody>
                                                        </table>
                                                    <p style="color: #ffffff; margin-top: 10px;font-size: 25px;">Total Cost: $@popupCost</p>
                                                        <button class="btn btn-danger" style="position:absolute; left:50%; transform: translateX(-50%); margin-bottom:40px; " @onclick="(() => RemoveAll())"> Finalize Payment </button>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <div class="paymentPopup">
                                                    <button @onclick="ClosePopup" class="toggle" type="button" style=" display: block; margin:  1% 1% 20px auto;background-color: transparent;background: #03549a;width: 40px;height: 40px;cursor: pointer;font-size: 25px;border-radius: 100%;"> &times  </button>
                                                        <div class="row d-flex justify-content-center align-items-center" style="width: 700px; height:600px; top:10%">
                                                            <div class="col-8 col-md-8 col-lg-8 col-xl-8">
                                                                <div id="paymentmethodadd" class="card" style="background-color: #222222; border-radius: 1rem; ">
                                                                    <div class="card-body text-center">
                                                                        <div class="mb-md-4 mt-md-3">
                                                                            <h2 class="fw-bold mb-2 text-uppercase" style="color: #ffffff;">Saved Payments</h2>
                                                                            <div class="form-outline mb-4" style="display:flex; flex-direction: row">
                                                                                <div>
                                                                                    <label for="typeCardHolderName" style="color: #ffffff; text-align: left; display: block;">Cardholder Name: John Doe</label>
                                                                                    <label for="typeCreditCardNumber" style="color: #ffffff; text-align: left; display: block;">Credit Card Number: XXXX XXXX XXXX 1234</label>
                                                                                    <label for="typeExpiryDate" style="color: #ffffff; text-align: left; display: block;">Expiry Date: 09/26   Postal Code: T1A 7B3</label>
                                                                                </div>
                                                                                <div>
                                                                                    <button type="submit" class="btn btn-primary btn-lg btn-block" style="background-color: #007bff; border-color: #007bff; margin-top: 25px;" @onclick="SavedPaymentMethod">
                                                                                        Use This
                                                                                    </button>
                                                                                </div>

                                                                            </div>

                                                                            <button type="submit" class="btn btn-primary btn-lg btn-block" style="background-color: #007bff; border-color: #007bff; margin-top: 25px;" @onclick="SeparatePaymentMethod">
                                                                                Seperate Payment
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>


                                                        <table class="listofprice">
                                                            <tbody style="font-size: 20px;">
                                                            <tr style="color: #ffffff;border: 1px solid white;">
                                                                <td style="padding-right: 20px;">
                                                                    Book: @popupTitle
                                                                </td>
                                                                <td style="padding-right: 20px;">
                                                                    Days Overdue: @popupDueDays
                                                                </td>
                                                                <td>
                                                                    Cost: $@popupCost
                                                                </td>
                                                            </tr>
                                                 
                                                            </tbody>
                                                        </table>
                                                    <p style="color: #ffffff; margin-top: 10px;font-size: 25px;">Total Cost: $@popupCost</p>
                                                        <button class="btn btn-danger" style="position:absolute; left:50%; transform: translateX(-50%); margin-bottom:40px; " @onclick="(() => RemoveAll())"> Finalize Payment </button>
                                                    </div>



                                                }

                                            }
                                            else
                                            {
                                                <div class="paymentPopup">
                                                <button @onclick="ClosePopup" class="toggle" type="button" style=" display: block; margin:  1% 1% 20px auto;background-color: transparent;background: #03549a;width: 40px;height: 40px;cursor: pointer;font-size: 25px;border-radius: 100%;"> &times  </button>
                                                    <div class="row d-flex justify-content-center align-items-center" style="width: 700px; height:600px;">
                                                        <div class="col-8 col-md-8 col-lg-8 col-xl-8">
                                                            <div id="paymentmethodadd" class="card" style="background-color: #222222; border-radius: 1rem; ">
                                                                <div class="card-body text-center">
                                                                    <div class="mb-md-4 mt-md-3">
                                                                        <h2 class="fw-bold mb-2 text-uppercase" style="color: #ffffff;">Payment Method</h2>
                                                                        <div class="form-outline mb-4">
                                                                            <label for="typeCardHolderName" style="color: #ffffff; text-align: left; display: block;">Cardholder Name</label>
                                                                            <input type="text" id="typeCardName" class="form-control" placeholder="Enter name as written on the card" @bind="nameValue" />
                                                                        </div>
                                                                        <div class="form-outline mb-4">
                                                                            <label for="typeCreditCardNumber" style="color: #ffffff; text-align: left; display: block;">Credit Card Number</label>
                                                                            <input type="text" id="typeCreditCardNumber" class="form-control" placeholder="1234 1234 1234 1234" @bind="creditCardNumberValue" />
                                                                        </div>
                                                                        <div class="form-group row mb-4">
                                                                            <div class="col-md-6">
                                                                                <label for="typeExpiryDate" style="color: #ffffff; text-align: left; display: block;">Expiry Date</label>
                                                                                <input type="text" id="typeExpiryDate" placeholder="MM/YY" style="max-width: 220px;" class="form-control" @bind="expiryDateValue" />
                                                                            </div>
                                                                            <div class="col-md-3">
                                                                                <label for="typeCVV" style="color: #ffffff; text-align: left; display: block;">CVV</label>
                                                                                <input type="text" id="typeCVV" placeholder="CVV" style="max-width: 100px" class="form-control" @bind="cvvValue" />
                                                                            </div>
                                                                            <div class="col-md-3">
                                                                                <img src="images/cv.png" width="100" height="60" style="margin-left: 0px;" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row mb-4">
                                                                            <div class="col-md-6">
                                                                                <label for="typePostalCode" style="color: #ffffff; text-align: left; display: block;">Postal Code</label>
                                                                                <input type="text" id="typePostalCode" placeholder="000 000" style="max-width: 220px;" class="form-control" @bind="postalCodeValue" />
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label for="typeCountry" style="color: #ffffff; text-align: left; display: block;">Country</label>
                                                                                <select id="typeCountry" style="max-width: 250px;" class="form-select" @bind="countryValue">
                                                                                    <option value="">Select Country</option>
                                                                                    <option value="USA">United States of America</option>
                                                                                    <option value="Canada">Canada</option>
                                                                                    <option value="Mexico">Mexico</option>
                                                                                    <option value="UK">United Kingdom</option>

                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div>
                                                                            <div>
                                                                                <button type="submit" class="btn btn-primary btn-lg btn-block" style="background-color: #007bff; border-color: #007bff; margin-top: 25px;" @onclick="ChangePaymentMethod">
                                                                                    Use Different Payment
                                                                                </button>
                                                                            </div>
                                                                            <div>
                                                                                <input type="checkbox" id="myCheckbox" name="myCheckbox">
                                                                                <label for="myCheckbox" style="color: #ffffff;">Add to Saved Payments</label>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <table class="listofprice">
                                                        <tbody style="font-size: 20px;">

                                                        <tr style="color: #ffffff;border: 1px solid white;">
                                                            <td style="padding-right: 20px;">
                                                                Book: @popupTitle
                                                            </td>
                                                            <td style="padding-right: 20px;">
                                                                Days Overdue: @popupDueDays
                                                            </td>
                                                            <td>
                                                                Cost: $@popupCost
                                                            </td>
                                                        </tr>
                                            
                                                        </tbody>
                                                    </table>
                                                <p style="color: #ffffff; margin-top: 10px;font-size: 25px;">Total Cost: $@popupCost</p>
                                                    <button class="btn btn-danger" style=" position:absolute; left:50%; transform: translateX(-50%); margin-bottom:40px;" @onclick="(() => RemoveAll())"> Finalize Payment </button>
                                                </div>
                                            }

                                       
                                    }

                                </td>.

                            </tr>
                        }

                    }


                </tbody>
            </table>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>



<style>
    .listofprice {
        border: 1px solid white; 
        left:50%;
        transform: translateX(-50%);

        position: relative; text-align: left; 
    }
    #paymentmethodadd{
        margin-top: -50px;
    }
    .popup button {
        display: block;
        margin: 0 0 20px auto;
        background-color: transparent;
        font-size: 30px;
        color: #ffffff;
        background: #03549a;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .paymentPopup {
        position: absolute;
        top: 20px;
        left: 50%;
        top: 12%;
        transform: translate(-50%);
        width: 700px;
        height: 800px;
        background-color: #222222;
        opacity: 1;
        box-shadow: 0 0 10px #222222;
        text-align: center;
        overflow-x: hidden;
    }

    .overdueContainer {
        text-align: center;
        margin-top: 50px;
    }

    .paynow {
        margin-left: 10px;
        display: inline-block;
    }

    .container {
        margin-top: 10px;
    }
    #overduenoti{
        background-color: #eb9e98;
        width: 300px;
        border-radius: 10px;
        margin-top: 15px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
</style>

@code {

    public class Book
    {
        public string Author { get; set; }
        public string Title { get; set; }
        public string Category { get; set; }
        public string Status { get; set; }
        public string Image { get; set; }
        public string Type { get; set; }
        public int num { get; set; }
        public string Description { get; set; }
        public string Location { get; set; }
        public string Pickup { get; set; }
        public string Holding { get; set; }

        public string DueDate { get; set; }
        public string DaysDue { get; set; }
        public string Cost { get; set; }

    }

    private List<Book> books = new List<Book>()
{
            new Book() { Author = "Lauren Westwood", Title = "My Secret Sister", DueDate ="03/21/2023", Category = "Popular" ,Status = "Available", num = 2 , Image = "images/Book2.png", Type = "paper", Location = "Foxtowne", Pickup = "Waitlist Pos 3", Holding = "N/A", Cost = "2.57", DaysDue = "20 days", Description = "“I can’t imagine not having a sister— not having you.”\n\nWe both know it’s a lie. So many times, I’ve had to imagine it. What will it be like to see her lying there, her body empty, her spirit gone?\n\nI take her hand and squeeze it hard. “Are you scared?” I say.\n\n“Yeah… I am.”\n\nMY SECRET SISTER\n\nTwo women, two secret heartbreaks…\n\nSan Francisco – Claire is living every mother’s worst nightmare. Her daughter, Jess, is suffering from a rare illness and desperately needs a bone marrow transplant. In a race against time, Claire will do anything to find the match that will save her daughter’s life.\n\nWashington D.C. – Marianne has suffered a heartbreaking string of miscarriages and IVF failures. With her perfect life crumbling around her, she will do whatever it takes to become a mother.\n\nTwo DNA tests...\n\nWhen the results of a DNA test show an unexpected relationship between Claire and Marianne, Claire must confront the darkest secrets of her past and make an impossible choice about the future.\n\nOne big lie...\n\nIs Claire’s secret sister the answer to her prayers?\n\nOr will she cost her everything?\n\nA powerful and emotional page-turner about motherhood, family secrets, and the choices a mother faces to keep her children safe. Perfect for fans of Liane Moriarty, Jojo Moyes, and Jodi Picoult." },
            new Book() { Author = "Lori Lacefield", Title = "The Fifth Juror", Category = "Popular",Status =  "Available", num = 3 , Image = "images/Book3.png", Type = "paper", Location = "Foxtowne",Pickup = "Waitlist Pos 2", Holding = "N/A", Cost = "0.75", DaysDue ="5 days", DueDate ="04/05/2023",  Description = "Former juror Jess Dawson is facing a difficult time in her life, raising an autistic son and navigating a failing marriage, when her past service as a juror on a high-profile death penalty case comes back to haunt her. Mikael Kriskan, a young Russian the jury sentenced to death for killing his adoptive American parents one cold Colorado night, is nearing his execution date when the foreman of their jury and his wife are found dead, killed in the same manner as Kriskan’s parents.\n\nThen, a second juror appears to commit suicide and leaves a disturbing note to his fellow jurors attached to his chest: KJ - do the right thing. Only Jess knows the true meaning of the message but as others begin to suspect the truth, Jess quickly finds herself in the crosshairs of Kriskan’s prosecutor, also her lover, who’s intent on executing Kriskan, and members of the Russian mob, who are hell bent on returning the genius Kriskan to his Russian roots.\n\nThe choice they give former juror Jess Dawson seems easy: Kill Mikael, kill her son. Save Mikael, save her son. But in a case where the post-conviction appeals have run out, the impact the truth will have upon her family is dire, and the lives of her fellow jurors are equally at stake—this choice will be anything but easy.\n\nThe Fifth Juror is the second nail-biting suspense thriller in the Women of Redemption Series, books that feature women who may not be perfect, but perfectly kick-ass when given a second chance.\n\nIf you like strong female heroines, titanic twists, and danger around every corner, you’ll love this edge-of-your-seat read! For fans of John Grisham, L.T. Ryan’s Rachel Hatch, and James Patterson’s fast paced plots."},
            new Book() { Author = "Peter Attied, MD", Title = "Outlive", DueDate ="03/01/2023", Category = "New Releases" , Status = "Available" , num = 9 , Image = "images/Book9.png", Type = "paper", Location = "Foxtowne", Pickup = "Waitlist Pos 8",  Holding = "N/A", Cost = "4.58", DaysDue = "40 days", Description = "Wouldn’t you like to live longer? And better? In this operating manual for longevity, Dr. Peter Attia draws on the latest science to deliver innovative nutritional interventions, techniques for optimizing exercise and sleep, and tools for addressing emotional and mental health.\n \nFor all its successes, mainstream medicine has failed to make much progress against the diseases of aging that kill most people: heart disease, cancer, Alzheimer’s disease, and type 2 diabetes. Too often, it intervenes with treatments too late to help, prolonging lifespan at the expense of healthspan, or quality of life. Dr. Attia believes we must replace this outdated framework with a personalized, proactive strategy for longevity, one where we take action now, rather than waiting.\n \nThis is not “biohacking,” it’s science: a well-founded strategic and tactical approach to extending lifespan while also improving our physical, cognitive, and emotional health. Dr. Attia’s aim is less to tell you what to do and more to help you learn how to think about long-term health, in order to create the best plan for you as an individual. In Outlive, readers will discover:\n \n• Why the cholesterol test at your annual physical doesn’t tell you enough about your actual risk of dying from a heart attack.\n• That you may already suffer from an extremely common yet underdiagnosed liver condition that could be a precursor to the chronic diseases of aging.\n• Why exercise is the most potent pro-longevity “drug”—and how to begin training for the “Centenarian Decathlon.”\n• Why you should forget about diets, and focus instead on nutritional biochemistry, using technology and data to personalize your eating pattern.\n• Why striving for physical health and longevity, but ignoring emotional health, could be the ultimate curse of all.\n \nAging and longevity are far more malleable than we think; our fate is not set in stone. With the right roadmap, you can plot a different path for your life, one that lets you outlive your genes to make each decade better than the one before."},

    };

    private Dictionary<string, List<Book>> bookDictionary;

    protected override void OnInitialized()
    {

        bookDictionary = books.GroupBy(b => b.Title)
            .ToDictionary(g => g.Key, g => g.ToList());
        if (ListOverdue.StringsOverdue.Count != 0)
        {
            calculateFee();
            precision();
        } else
        {
            fees = 0;
        }
    }


    double fees = 0;
    string feeOutput = "";

    private void calculateFee()
    {
        fees = 0;

        foreach (var book in books)
        {
            double intCost = double.Parse(book.Cost);
            fees += intCost;
        }




    }
    private void precision()
    {
        feeOutput = fees.ToString("F2");
        ListOverdue.Fees = feeOutput;
    }

    private void RemoveBook(string title, Book selected)
    {
        ListOverdue.StringsOverdue.Remove(title);
        books.Remove(selected);
        Toggleclose();
        calculateFee();
        precision();
    }


    bool savedPayment = false;
    bool showPopup = false;
    bool showAllPopup = false;
    bool selectPayment = false;
    string popupAuthor;
    string popupTitle;
    string popupCost;
    string popupDueDays;
    string popupType;
    string popupDate;
    Book selected;
    bool showFullText = false;

    void TogglePopup(string author, string title, string cost, string type, string days, string dueDate, Book selectBook)
    {
        showPopup = !showPopup;
        popupAuthor = author;
        popupTitle = title;
        popupCost = cost;
        popupDueDays = days;
        popupType = type;
        popupDate = dueDate;
        selected = selectBook;
    }

    void RemoveAll()
    {
        ListOverdue.StringsOverdue.Clear();
        books.Clear();
        payAllTogglePopup();
        calculateFee();
        precision();
    }

    void payAllTogglePopup()
    {
        showAllPopup = !showAllPopup;
    }

    void Toggleclose()
    {
        showPopup = !showPopup;
    }

    private string creditCardNumberValue;
    private string expiryDateValue;
    private string cvvValue;
    private string nameValue;
    private string countryValue;
    private string postalCodeValue;



    private void AddPaymentMethod()
    {
        selectPayment = true;
    }
    private void ChangePaymentMethod()
    {
        selectPayment = true;
        savedPayment = false;
    }
    private void SavedPaymentMethod()
    {
        savedPayment = true;
    }
    private void SeparatePaymentMethod()
    {
        selectPayment = false;
        savedPayment = false;
    }
    private void ClosePopup()
    {
        savedPayment = false;
        showPopup = false;
        showAllPopup = false;
        selectPayment = false;
    }

}
