@page "/OverdueDefault"

<NavBar />

<div class="overdueContainer">
    <h1 class="overduesign">OVERDUE FEES</h1>
    <h1>Total Fees Due: $12.68 </h1>
    <button class="btn btn-danger" > Pay All </button>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-11">
            <table class="table">
                <tbody>
                    @foreach (var book in books)
                    {
                        <tr class="hold-item">
                            <td>
                                <img src="@book.CoverImage" alt="Book Cover" height="120" />
                            </td>
                            <td class="book-details">
                                <p>Title: @book.Title</p>
                                <p>Author: @book.Author</p>
                                <p>Type: @book.Type</p>
                            </td>
                            <td>
                                <p>Due Date: @book.Location,</p>
                                <p>Days Overdue: @book.LocationAddress</p>
                            </td>
                            <td>
                                <p></p>
                                <p>Cost: @book.HoldingUntil</p>
                            </td>
                            <td>
                                <button class="btn btn-danger" @onclick="(() => RemoveBook(book))"> Pay </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>

<style>

    .overdueContainer {
        text-align: center;
        margin-top: 50px;


    }

    .paynow {
        margin-left: 10px;
        display: inline-block;
    }

    .container {
        margin-top: 100px;


    }
</style>

@code {
    private List<Book> books = new List<Book>
    {
        new Book
        {
            CoverImage = "images/Book9.png",
            Title = "Outlive: The Science and Art of Longetivy",
            Author = "Peter Attia",
            Type = "Paperback",
            Location = "03/01/2023",
            LocationAddress = "40 Days",
            Status = "Ready to be picked up",
            HoldingUntil = "$4.58",
        },
        new Book
        {
            CoverImage = "images/Book2.png",
            Title = "My Secret Sister",
            Author = "Lauren Westwood",
            Type = "Paperback",
            Location = "03/21/2023",
            LocationAddress = "20 Days",
            Status = "Waitlist Pos 10",
            HoldingUntil = "$2.57"
        },
        new Book
        {
            CoverImage = "images/Book3.png",
            Title = "The Fifth Juror",
            Author = "Lori Lacefield",
            Type = "Paperback",
            Location = "04/05/2023",
            LocationAddress = "5 Days",
            Status = "Waitlist Pos 4",
            HoldingUntil = "$0.75"
        },
    };

    private void RemoveBook(Book book)
    {
        books.Remove(book);
    }

    private class Book
    {
        public string CoverImage { get; set; }
        public string Title { get; set; }
        public string Author { get; set; }
        public string Type { get; set; }
        public string Location { get; set; }
        public string LocationAddress { get; set; }
        public string Status { get; set; }
        public string HoldingUntil { get; set; }
    }
}

